body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
	height: 100vh;
	display: grid;
	place-items: center;

	div.reject {
		border: 1px solid gray;
		padding: 10px;
		border-radius: 10px;
		box-shadow: 3px 3px black;

		div.your-voice {
			display: flex;
            flex-direction: column;
            margin: 10px 0px;

            textarea {
                border: 1px solid gray;
                box-shadow: 3px 3px black;
                border-radius: 5px;
                margin: 5px 0px;
                padding: 2px;
            }
		}

		form {
			display: flex;
			flex-direction: column;
		}

		button {
			background-color: red;
			color: white;
			padding: 7px;
			border: 1px solid gray;
			border-radius: 9px;
			cursor: pointer;
			width: 100%;
			box-shadow: 3px 3px black;
		}
	}
}
