body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body.dark-mode {
    background-color: #121212;
    color: #e6dfdf;
}

main {
    height: 100vh;
    display: grid;
    place-items: center;
}

div.reject {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px black;
}

body.dark-mode div.reject {
    border: 1px solid #e6dfdf;
    box-shadow: 3px 3px #e5e4e4;
}

div.your-voice {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

textarea {
    border: 1px solid gray;
    box-shadow: 3px 3px black;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 2px;
}

body.dark-mode textarea {
    border: 1px solid #e6dfdf;
    box-shadow: 3px 3px #e6dfdf;
    background-color: #333333;
    color: #e6dfdf;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    background-color: red;
    color: white;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 9px;
    cursor: pointer;
    width: 100%;
    box-shadow: 3px 3px black;
}

body.dark-mode button {
    border: 1px solid #e6dfdf;
    box-shadow: 3px 3px #e6dfdf;
    background-color: rgba(255, 0, 0, 0.541);
}

/* Toggle button styles */
#toggle-dark-mode {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    width: fit-content;
	height: fit-content;
    color: rgb(196, 182, 29);
	/* box-shadow: none; */
	/* border: 2px solid rgb(39, 39, 39); */
	text-align: center;
	padding: 5px 15px;

}

body.dark-mode #toggle-dark-mode {
    color: #e6dfdf;
}
