:root {
  --border-radius: 5px;
  --primary-color: #d9534f;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  hr {
    margin-top: 25px;
  }

  div.tab {
    display: flex;
    text-align: center;

    .tab_item {
      flex-basis: 50%;
      cursor: pointer;
      border-radius: var(--border-radius);

      &:hover {
        background-color: var(--primary-color);
        color: white;
      }
    }
  }

  div.reject {
    background-color: #fff;
    border: 3px solid #444444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px 1px rgba(68, 68, 68, 1);
    max-width: 800px;
    text-align: center;

    h2 {
      text-align: left;
      margin-bottom: 30px;
    }

    div.your-voice {
      margin-bottom: 20px;

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: 400;
        text-align: left;
      }

      textarea,
      input {
        width: 100%;
        border: 1px solid #444444;
        box-shadow: 4px 4px 2px 1px rgba(68, 68, 68, 1);
        border-radius: 5px;
        padding: 10px;
        box-sizing: border-box;
      }

      textarea:focus,
      input:focus {
        border-color: #444444;
        outline: none;
        border-width: 3px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
    }

    button {
      background-color: var(--primary-color);
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 1rem;
      box-shadow: 4px 4px 2px 1px rgba(68, 68, 68, 1);
      transition: background-color 0.2s;
      width: 100%;
    }

    button:hover {
      background-color: #c9302c;
    }
  }
}
